global
    log stdout local0
    maxconn 50000
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
    ssl-default-bind-options ssl-min-ver TLSv1.1

defaults
    log global
    maxconn 3000
    mode http
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    option httplog
    #option logasap

frontend fe_proxy
    bind :3001 ssl  crt /etc/haproxy/pem/haproxy.pem  alpn h2
    # http-request deny unless { req.hdr(mysecretpassphrase) -m str "abc123" }
    capture request header mysecretpassphrase len 100
    default_backend be_servers
    log-format "$HAPROXY_HTTP_LOG_FMT aborted-fs: %[fs.aborted] rst code-fs: %[fs.rst_code] aborted-bs: %[bs.aborted] rst code-bs: %[bs.rst_code]"

backend be_servers
    balance roundrobin
    server server1 server:3000 check  maxconn 20  ssl  alpn h2  ca-file /etc/haproxy/pem/server.crt
